
*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

body
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
}

.header
{
    height: 50px;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.headerButtons
{
    color: grey;
    margin-right: 50px;
}

.headerButtons:hover
{
    color: white;
}

.content
{
    padding-top: 100px;
    text-align: center;
}

.formBox
{
    border: 5px solid;
    border-radius: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input
{
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
}
